*~
*.bak
Thumbs.db
desktop.ini
.DS_Store
.buildpath
.project
.settings
.tmpoj
build
nbproject/
.idea

/logs/*/*/*
/cache/*/*
/exitecms/config/crypt.php
/exitecms/config/development/db.php
/public/themes/*